# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly specify line endings for as many files as possible.
# People who (for example) rsync between Windows and Linux need this.

# File types which we know are binary
*.png binary

# Prefer LF for most file types
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yml text eol=lf

# Prefer LF for these files
.tx/config text eol=lf
.babelrc text eol=lf
.editorconfig text eol=lf
.eslintignore text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.jshintrc text eol=lf
.npmignore text eol=lf
LICENSE text eol=lf
TRADEMARK text eol=lf

# Use CRLF for Windows-specific file types
